@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 16 16 20;
  --fg: 247 247 248;
}

html, body { height: 100%; }
body { background-color: rgb(var(--bg)); color: rgb(var(--fg)); }
